@import "../../constants.css";

.login-container {
    padding-top: 5em;
    margin: 0 auto;
    min-width: 250px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.login-container > h2 {
    color: var(--clr-text);
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding: 1em;
    width: 100%;
}
.login-form input {
    padding: 1em;
    outline: none;
    border: 1px solid grey;
    font-size: 1.25em;
}
#password {
    width: 100%;
}
.login-form:first-child {
    border-bottom: none;
}
.login-form > button {
    margin-top: 1em;
    padding: 1em;
    font-size: 1.25em;
    background-color: var(--clr-accent-neutral);
    outline: none;
    border: none;
    color: var(--clr-text);
    transition: 0.2s;
}
.login-form > button:hover {
    transition: 0.2s;
    scale: 1.01;
}
.check-login-input {
    color: rgb(255, 146, 146);
    position: absolute;
    top: 10em;
}
#password_container {
    position: relative;
}
#password_visibility {
    position: absolute;
    width: 25px;
    top: 33%;
    cursor: pointer;
    right: 10px;
}
#caps_lock_warning {
    margin-top: 1em;
    color: var(--clr-accent-danger-neutral);
}
#login_horizontal_line {
    width: calc(100% - 2em);
    border: 1px solid var(--clr-accent-neutral);
}
#not_registered {
    color: white;
    padding: 0 1em;
    text-align: center;
    font-size: 1.25em;
}
#register_now {
    border-bottom: 1px solid var(--clr-accent-neutral);
}
