:root {
    --ff-primary: "Open Sans", sans-serif;

    --clr-body: hsl(160, 100%, 12%);
    --clr-primary: hsl(35, 69%, 88%);
    --clr-accent: hsl(160, 100%, 12%);
    --clr-text: white;
    --clr-accent-neutral: hsl(159, 23%, 36%);
}
