@import "constants.css";
* {
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
    box-sizing: border-box;
}
body > * button {
    cursor: pointer;
}
html {
    overflow-y: scroll;
    height: 100%;
}
body {
    background-color: var(--clr-body);
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
    min-height: 100vh;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    background-color: var(--clr-accent-neutral);
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
    z-index: 3;
    top: 0;
    padding: 1em 0;
    transition: ease-out 0.5s top;
}
header > a,
.top-nav > a {
    color: var(--clr-text);
    text-decoration: none;
}
.logo-container {
    padding-right: 1em;
}
.logo {
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    line-height: 0.8em;
    text-align: left;
}
.top-nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.top-nav > a {
    padding: 0 1em;
}
.search-container {
    border-radius: 10px;
    background-color: var(--clr-accent-neutral);
    color: var(--clr-text);
    margin: 2em 0em;
    padding: 1em;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
}
.search-icon {
    transform: rotate(-90deg);
    display: inline-block;
    font-size: 1.5em;
}
#search-form {
    display: flex;
    width: 100%;
}
.input-wrapper {
    padding: 1em;
    border-radius: 10px;
    border: 2px solid var(--clr-accent);
    outline: none;
    display: flex;
    margin: 0.5em 0;
}
.recipe-search {
    outline: none;
    border: none;
    font-size: 1em;
    margin-left: 1em;
    width: 100%;
    background-color: transparent;
    color: var(--clr-text);
}
.recipe-search::placeholder {
    color: var(--clr-text);
}
.results-container {
    padding: 0 3em;
    max-width: 1200px;
    margin: 0 auto;
}
.results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1em;
    margin-bottom: 1em;
}
.results .img-container > img {
    min-width: 250px;
    min-height: 250px;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.food-item > .img-container {
    display: block;
}
.results > .fooditem-container {
    min-height: 250px;
    max-width: 100%;
}
.results > .fooditem-container > .food-item {
    border-radius: 10px;
    background-color: var(--clr-accent-neutral);
    display: flex;
    flex-direction: column;
    transition: all 0.175s ease 0s;
    text-decoration: none;
    color: var(--clr-text);
    height: 100%;
}
.results .fooditem-container > .food-item:hover {
    transform: scale(1.02);
}
#load-more-button {
    padding: 1em;
    font-size: 1.25em;
    background-color: var(--clr-accent-neutral);
    border: none;
    color: var(--clr-text);
    align-self: center;
    grid-column: 1/-1;
    transition: 0.2s;
    border-radius: 5px;
}
#load-more-button:hover {
    scale: 1.01;
}
.recipe-info {
    padding: 0.75em 1em;
    position: relative;
    height: 100%;
}
.recipe-info > h2,
.recipe-info > p {
    margin-right: 0.2em;
}
.recipe-info > * {
    font-size: clamp(1em, 1vw, 2em);
}

.fav-heart {
    position: absolute;
    bottom: 2px;
    right: 10px;
    font-size: 2em;
    z-index: 1;
    margin: 0;
    padding: 0;
    border-style: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
footer {
    display: flex;
    justify-content: center;
    background-color: var(--clr-accent-neutral);
    z-index: 1;
    padding: 0.8rem;
    color: var(--clr-text);
    font-size: 1.25em;
    bottom: 0;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 100%);
    width: -webkit-fill-available;
    width: -moz-available;
    margin-top: auto;
}
.nav-button {
    display: none;
}
#backdrop-blur {
    backdrop-filter: blur(2px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 500px) {
    .nav-container {
        position: relative;
    }
    .top-nav {
        display: flex;
        background-color: var(--clr-accent-neutral);
        flex-direction: column;
        position: fixed;
        transition: ease-out 0.5s left;
        border-bottom: 1px solid var(--clr-accent);
        border-right: 1px solid var(--clr-accent);
        top: 4em;
    }
    .top-nav > a {
        padding: 1em;
        font-size: 1.25em;
        text-align: right;
        border-bottom: 1px solid black;
    }
    .top-nav > a:first-child {
        border-top: 1px solid black;
    }
    .top-nav > a:last-child {
        border-bottom: none;
    }
    .top-nav-active {
        width: 100%;
        left: 0%;
    }
    .nav-button {
        display: flex;
        flex-direction: column;
        color: black;
        z-index: 2;
        right: 1em;
        position: absolute;
    }
    .top-nav-disabled {
        left: 110%;
        width: 100%;
        transition: ease-in 0.2s left;
        position: fixed;
    }
    .header-hidden {
        top: -20%;
        transition: ease-in 0.2s top;
        width: 100%;
    }
    .line {
        width: 2em;
        height: 4px;
        border-radius: 10px;
        background-color: var(--clr-accent);
        margin: 3px;
        transition: all 0.1s linear;
    }
    .line-hidden {
        display: none;
    }
    .cross {
        width: 2em;
        height: 4px;
        border-radius: 10px;
        background-color: var(--clr-accent);
        margin: 3px;
        transition: all 0.1s linear;
    }
    .cross-1 {
        transform: rotate(45deg) translate(4px, 3px);
    }
    .cross-2 {
        transform: rotate(-45deg) translate(4px, -3px);
    }
    .results-container {
        padding: 0 1em;
    }
}
