@import "constants.css";
* {
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
    box-sizing: border-box;
}
html {
    overflow-y: scroll;
}
body {
    background-color: var(--clr-body);
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    background-color: var(--clr-accent-neutral);
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
}
header,
.top-nav > ul > li > a {
    color: var(--clr-text);
}
.logo-container {
    padding-right: 1em;
}
.logo {
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    line-height: 0.8em;
    text-align: left;
}
.top-nav > ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 1em 0;
}
.top-nav > ul > li {
    padding: 0 1em;
}
.top-nav > ul > li > a {
    text-decoration: none;
}
.search-container {
    border-radius: 10px;
    background-color: var(--clr-accent-neutral);
    color: var(--clr-text);
    margin: 2em 0em;
    padding: 1em;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
}
.search-icon {
    transform: rotate(-90deg);
    display: inline-block;
    font-size: 1.5em;
}
form {
    display: flex;
    width: 100%;
}
.input-wrapper {
    padding: 1em;
    border-radius: 10px;
    border: 2px solid var(--clr-accent);
    outline: none;
    display: flex;
    margin: 0.5em 0;
}
.recipe-search {
    outline: none;
    border: none;
    font-size: 1em;
    margin-left: 1em;
    width: 100%;
    background-color: transparent;
    color: var(--clr-text);
}
.recipe-search::placeholder {
    color: var(--clr-text);
}
.results-container {
    margin: 0 3em;
}
.results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    gap: 1em;
    margin-bottom: 1em;
}
.img-container > img {
    min-width: 300px;
    min-height: 300px;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.img-container {
    display: block;
}
.food-item {
    border-radius: 10px;
    background-color: var(--clr-accent-neutral);
    display: flex;
    flex-direction: column;
    transition: all 0.175s ease 0s;
    text-decoration: none;
    color: var(--clr-text);
}
.food-item:hover {
    transform: scale(1.02);
}
.recipe-info {
    padding: 0.75em 1.25em;
}
