.delete-modal {
    min-width: 150px;
    min-height: 125px;
    width: 100%;
    max-width: 400px;
    height: 200px;
    padding: 1em;
    background-color: var(--clr-accent-neutral);
    position: relative;
    z-index: 4;
    border-radius: 10px;
    margin: 0 1em;
    font-size: 1.25em;
}
.modal-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.modal-wrapper > h4 {
    margin-right: 2em;
    color: var(--clr-text);
}
#delete-buttons-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
}
.modal-wrapper button {
    background-color: var(--clr-accent);
    color: var(--clr-text);
    border-radius: 5px;
    border: 0;
    box-shadow: rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset,
        rgba(0, 44, 97, 0.1) 0 3px 6px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    text-align: center;
}
#delete-yes,
#delete-no {
    min-height: 56px;
    min-width: 80px;
    width: 110px;
}
#delete-yes {
    background-color: var(--clr-accent-danger);
}
#delete-buttons-container > button:hover {
    opacity: 0.9;
}
#modal-close-button {
    position: absolute;
    right: 0;
    font-size: 1em;
    padding: 0.25em;
    margin: 0.25em 0.25em 0 0;
    min-height: 30px;
    min-width: 30px;
}
