@import "../../../constants.css";

.account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    margin: 0 auto;
}
.account-loading {
    color: var(--clr-text);
}
.account-nav {
    display: flex;
    gap: 1em;
    align-items: center;
}
a {
    color: white;
    text-decoration: none;
}
