@import "../../../constants.css";

.account-container {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin: 0 auto;
    color: var(--clr-text);
    max-width: 750px;
}
#username {
    font-size: 2em;
}
#account-details {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-accent-neutral);
    min-height: 50vh;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
    padding: 1em;
}
.account-nav {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    margin: 0 0.25em;
    flex-direction: column;
    margin: 1em 0;
    background-color: var(--clr-accent-neutral);
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
}
.account-loading {
    color: var(--clr-text);
}
a {
    color: white;
    text-decoration: none;
}
@media screen and (min-width: 500px) {
    .account-nav {
        display: flex;
        gap: 1em;
        align-items: center;
        flex-direction: row;
    }
}
