@import "../../../constants.css";

#new-recipe-container {
    min-width: 250px;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#new-recipe-form {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}
#recipe-text-input > input {
    padding: 1em;
    outline: none;
    border: 1px solid grey;
    font-size: 1.25em;
}
#new-recipe-form > button {
    margin-top: 1em;
    padding: 1em;
    font-size: 1.25em;
    background-color: var(--clr-accent-neutral);
    outline: none;
    border: none;
    color: var(--clr-text);
    transition: 0.2s;
    width: 100%;
}
#new-recipe-form > button:hover {
    transition: 0.2s;
    scale: 1.01;
}
#ingredients,
#recipe-steps {
    position: relative;
    padding: 1em 0;
    border: none;
    margin-top: 1em;
}
#ingredients {
    display: flex;
    flex-direction: column;
}
#button-add-ingredient,
#button-add-step {
    font-size: 1.25em;
    background-color: var(--clr-accent-neutral);
    outline: none;
    border: none;
    color: var(--clr-text);
    transition: 0.2s;
    padding: 0.5em;
    margin-bottom: 0.25em;
}
#recipe-steps {
    display: flex;
    flex-direction: column;
    grid-column: 2;
}
#recipe-data-container {
    display: flex;
    flex-direction: column;
}
#recipe-ingredient-steps-wrapper {
    display: grid;
    gap: 2em;
}
#recipe-text-input {
    display: flex;
    flex-direction: column;
}
.ingredient-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.check-recipe-input {
    position: absolute;
    color: var(--clr-text);
    top: 0;
}
.new-recipe-ingredient-amount {
    padding: 0.25em;
    grid-column: 1 / 2;
}
.new-recipe-ingredient {
    padding: 0.25em;
    grid-column: 3 / 4;
}
.new-recipe-step {
    padding: 0.25em;
}
@media screen and (max-width: 700px) {
    #recipe-ingredient-steps-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    #ingredients,
    #recipe-steps {
        padding: 1em 0 0 0;
    }
}
