@import "../../../constants.css";

#user-settings-container {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-accent-neutral);
    min-height: 50vh;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
    padding: 1em;
}
#password-form {
    display: flex;
    margin: 0 5em;
    flex-direction: column;
}
#password-form > input {
    font-size: 1.25em;
    padding: 0.5em;
}
#password-form > button {
    margin-top: 1em;
    padding: 1em;
    font-size: 1.25em;
    background-color: var(--clr-accent);
    outline: none;
    border: none;
    color: var(--clr-text);
    transition: 0.2s;
}
