@import "../../../constants.css";

.user-recipes-container .fooditem-container {
    background-color: var(--clr-accent-neutral);
    border-radius: 10px;
    transition: all 0.175s ease 0s;
    position: relative;
}
.user-recipes-container .food-item {
    display: grid;
    font-size: 4vw;
    grid-template-columns: 1fr 3fr;
    height: 150px;
    margin-bottom: 1em;
}
.user-recipes-container .fooditem-container:hover {
    transform: scale(1.01);
}
.user-recipes-container .img-container > img {
    min-width: 150px;
    min-height: 150px;
    max-height: 150px;
    max-width: 100%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}
.user-recipes-container .food-item > .img-container {
    display: block;
    max-width: 150px;
    text-align: center;
}

#no-recipes {
    margin-bottom: 1em;
    text-align: center;
}
.recipe-management {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 2px;
}
.delete-button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}
.edit-button,
.delete-button {
    font-size: 2em;
}

@media screen and (min-width: 400px) {
    .user-recipes-container .food-item {
        font-size: 1em;
    }
}
@media screen and (max-width: 700px) {
    .user-recipes-container .food-item > .img-container {
        overflow: visible;
        width: 125px;
    }
    .user-recipes-container .img-container > img {
        min-width: 125px;
        max-width: 125px;
    }
}
